@font-face {
  font-family: "iconfont"; /* Project id 3181108 */
  src: url('iconfont.woff2?t=1644800463351') format('woff2'),
       url('iconfont.woff?t=1644800463351') format('woff'),
       url('iconfont.ttf?t=1644800463351') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-qita:before {
  content: "\e618";
}

.icon-renwu:before {
  content: "\e684";
}

.icon-shanchu:before {
  content: "\e625";
}

.icon-paixu:before {
  content: "\e609";
}

.icon-zhuti:before {
  content: "\e790";
}

.icon-fenzu:before {
  content: "\e726";
}

.icon-zimupaixu:before {
  content: "\e603";
}

.icon-taiyang:before {
  content: "\e635";
}

.icon-sousuo:before {
  content: "\e683";
}

.icon-yk_yuanquan:before {
  content: "\e601";
}

.icon-tianjia:before {
  content: "\e62a";
}

.icon-tianjiafenzu:before {
  content: "\e629";
}

.icon-wancheng:before {
  content: "\e782";
}

.icon-shoucang:before {
  content: "\e60a";
}

